extends ../layout

include ../../components/header/header
include ./components/product-breadcrumbs/product-breadcrumbs
include ./components/product-head/product-head
include ../../components/section-header/section-header
include ./components/eff-section/eff-section
include ./components/press-section/press-section
include ./components/trial-section/trial-section
include ./components/partners-section/partners-section
include ./components/related-products/related-products
include ./components/product-promo/product-promo
include ./components/product-reviews/product-reviews
include ./components/docs-product/docs-product
include ../../components/footer/footer

block content
    
  +header

  .product-page
  
    +product-breadcrumbs

    +product-head

    +eff-section

    +press-section

    +trial-section

    +product-promo

    +partners-section
    
    +related-products

    +product-reviews

    +docs-product
    
  +footer