@include importFont(100) {
  src: url('../../assets/fonts/ttf/Exo2-Thin.ttf') format('truetype');
}

@include importFont(300) {
  src: url('../../assets/fonts/ttf/Exo2-Light.ttf') format('truetype');
}

@include importFont(400) {
  src: url('../../assets/fonts/ttf/Exo2-Regular.ttf') format('truetype');
}

@include importFont(500) {
  src: url('../../assets/fonts/ttf/Exo2-Medium.ttf') format('truetype');
}

@include importFont(600) {
  src: url('../../assets/fonts/ttf/Exo2-SemiBold.ttf') format('truetype');
}

@include importFont(700) {
  src: url('../../assets/fonts/ttf/Exo2-Bold.ttf') format('truetype');
}

@include importFont(100) {
  src: url('../../assets/fonts/woff/Exo2-Thin.woff') format('woff');
}

@include importFont(300) {
  src: url('../../assets/fonts/woff/Exo2-Light.woff') format('woff');
}

@include importFont(400) {
  src: url('../../assets/fonts/woff/Exo2-Regular.woff') format('woff');
}

@include importFont(500) {
  src: url('../../assets/fonts/woff/Exo2-Medium.woff') format('woff');
}

@include importFont(600) {
  src: url('../../assets/fonts/woff/Exo2-SemiBold.woff') format('woff');
}

@include importFont(700) {
  src: url('../../assets/fonts/woff/Exo2-Bold.woff') format('woff');
}

@include importFont(100) {
  src: url('../../assets/fonts/woff2/Exo2-Thin.woff2') format('woff2');
}

@include importFont(300) {
  src: url('../../assets/fonts/woff2/Exo2-Light.woff2') format('woff2');
}

@include importFont(400) {
  src: url('../../assets/fonts/woff2/Exo2-Regular.woff2') format('woff2');
}

@include importFont(500) {
  src: url('../../assets/fonts/woff2/Exo2-Medium.woff2') format('woff2');
}

@include importFont(600) {
  src: url('../../assets/fonts/woff2/Exo2-SemiBold.woff2') format('woff2');
}

@include importFont(700) {
  src: url('../../assets/fonts/woff2/Exo2-Bold.woff2') format('woff2');
}
