mixin product-reviews
  section#product-reviews.product-reviews
    .product-reviews__header
      p.product-reviews__title Отзывы
      .product-reviews__btn-group
        button.product-reviews__btn-prev(type='button' data-btn-prev)
          include ../../components/product-reviews/img/icons/arrow.svg
        button.product-reviews__btn-next(type='button' data-btn-next)
          include ../../components/product-reviews/img/icons/arrow.svg
    .product-reviews__card-list-wrap
      ul.product-reviews__container-list(data-container)
        li.product-reviews__container-list-item
          ul.product-reviews__card-list
            each item in [1, 2, 3]
              li.product-reviews__card-list-item(data-items)
                ul.product-reviews__rating-list
                  each start in [1, 2, 3, 4, 5]
                    li.product-reviews__rating-list-item
                      include ../../components/product-reviews/img/icons/star.svg
                p.product-reviews__card-para Понравился этот магазин своим широким ассортиментом . И так как я целый день нахожусь в офисе, где большой приток клиентов, согласовала с руководством покупку воздухоочистителя. Менеджер рассказал мне подробно о преимуществах аппарата и помог определиться с выбором. Быстро оформил заказ, и уже через 2 дня воздухоочиститель доставили по адресу. Меня это обрадовало, так как это довольно оперативно. Заплатила я наличными, что тоже удобно и надежно при подобной сделке. Надеюсь, что долго прослужит. Сотрудничество с магазином оказалось приятным.
                .product-reviews__card-footer
                  p.product-reviews__card-name Юлия Фролова
                  p.product-reviews__card-info
                    span.product-reviews__info-date 10 января 2019
                    | , 
                    span.product-reviews__info-city Воронеж
        li.product-reviews__container-list-item
          ul.product-reviews__card-list
            each item in [1, 2, 3]
              li.product-reviews__card-list-item(data-items)
                ul.product-reviews__rating-list
                  each start in [1, 2, 3, 4, 5]
                    li.product-reviews__rating-list-item
                      include ../../components/product-reviews/img/icons/star.svg
                p.product-reviews__card-para Понравился этот магазин своим широким ассортиментом . И так как я целый день нахожусь в офисе, где большой приток клиентов, согласовала с руководством покупку воздухоочистителя. Менеджер рассказал мне подробно о преимуществах аппарата и помог определиться с выбором. Быстро оформил заказ, и уже через 2 дня воздухоочиститель доставили по адресу. Меня это обрадовало, так как это довольно оперативно. Заплатила я наличными, что тоже удобно и надежно при подобной сделке. Надеюсь, что долго прослужит. Сотрудничество с магазином оказалось приятным.
                .product-reviews__card-footer
                  p.product-reviews__card-name Юлия Фролова
                  p.product-reviews__card-info
                    span.product-reviews__info-date 10 января 2019
                    | , 
                    span.product-reviews__info-city Воронеж

