mixin video-block(data, mixes)  
  .video-block(class=(mixes) ? `${mixes}__video-block` : '')
    .video-block__content
      video(controls='controls' poster=`${data.poster}`)
        source(src=`${data.src}`)