.brands-slider {
}

.brands-slider__wrap {
  position: relative;
  @include container;
}

.brands-slider__list {
  margin: 0 -10px;
  transition: all 300ms ease-in;
}

.brands-slider__list-item-wrap {
  padding: 0 10px;
}

.brands-slider__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #fff;
  border: 1px solid rgba(229, 234, 239, 0.4);
  border-radius: 10px;
}

.brands-slider__img {
  max-width: 100%;
}

.brands-slider__btn-prev,
.brands-slider__btn-next {
  position: absolute;
  top: 50%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid rgba(229, 234, 239, 0.4);
  border-radius: 50%;
  box-shadow: 0px 5px 5px rgba(83, 100, 133, 0.05),
    0px 1px 0px rgba(83, 100, 133, 0.05);
  cursor: pointer;

  &:hover {
    svg path {
      fill: #f37a1f;
    }
  }
}
.brands-slider__btn-prev {
  left: -10px;
  transform: translateY(-50%);
  @include mq-less-xl {
    left: 20px;
  }
}

.brands-slider__btn-next {
  right: -10px;
  transform: translateY(-50%);
  @include mq-less-xl {
    right: 20px;
  }
}
