mixin modal
  .modal
  
    #city-modal
      .modal__top
        p Выбор города
        span.modal__close
          img(src=require('../../components/modal/close.svg'))
      input(placeholder='Москва')
      
