mixin modal
  .modal
  
    #city-modal
      p Выбор города
      span.modal__close
        img(src=require('../../components/modal/close.svg'))
      input(placeholder='Москва')

      .modal__links-group
        each link in ['Москва', 'Минск', 'Нур-Султан']
          a.modal__link(href='#')= link

    
      
