@import '~@/components/section-header/section-header';

.press-section {
  margin-bottom: 100px;
  @include content-width;
}

.press-section__banner-block {
  margin-bottom: 20px;
}

.press-section__banner-link {
  &:hover {
    opacity: 0.9;
  }
}

.press-section__reviews-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  @include mq-less-md {
    flex-direction: column;
  }
}

.press-section__review {
  position: relative;

  &:not(:last-child) {
    margin-right: 15px;

    @include mq-less-md {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}

.press-section__review-link {
  &:hover {
    .press-section__review-title {
      color: #8ba4d4;
    }
  }
}

.press-section__review-title {
  position: absolute;
  right: 45px;
  bottom: 30px;
  left: 45px;
  display: flex;
  align-items: flex-end;
  color: #fff;
  font-size: 15px;
  text-decoration: underline;

  @include mq-less-lg {
    right: 25px;
    bottom: 20px;
    left: 25px;
  }

  @include mq-less-md {
    right: 45px;
    bottom: 30px;
    left: 45px;
  }
}

.press-section__platforms-container {
  display: flex;
  justify-content: space-between;

  @include mq-less-md {
    flex-direction: column;
  }
}

.press-section__platform {
  display: flex;
  flex: 1;
  justify-content: center;
  max-width: 225px;
  min-height: 120px;
  text-align: center;
  background-color: #f7f7f7;

  &:not(:last-child) {
    margin-right: 10px;

    @include mq-less-md {
      max-width: none;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  @include mq-less-md {
    max-width: none;
  }
}

.press-section__platform-img {
  margin-bottom: 18px;
}

.press-section__platform-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  &:hover {
    .press-section__platform-title {
      color: #8ba4d4;
    }
  }
}

.press-section__platform-title {
  margin-bottom: 20px;
  color: #a2a2a2;
  font-size: 12px;
}
