mixin header
  - 
    var links = {
      menu: [
        {
          href: '#',
          title: 'О компании'
        },
        {
          href: '#',
          title: 'Доставка'
        },
        {
          href: '#',
          title: 'Оплата'
        },
        {
          href: '#',
          title: 'Возврат'
        },
        {
          href: '#',
          title: 'Контакты'
        }
      ],
      category: [
        {
          href: '#',
          title: 'Очистители'
        },
        {
          href: '#',
          title: 'Увлажнители'
        },
        {
          href: '#',
          title: 'Системы вентиляции'
        },
        {
          href: '#',
          title: 'Осушители'
        },
        {
          href: '#',
          title: 'Датчики'
        }
      ]
    }

  header.header
    .header__top
      .header__top-wrap
        nav.header__nav
          ul.header__nav-list
            each link in links.menu
                li.header__nav-list-item
                  a.header__nav-link(href=`${link.href}`)= link.title
        .header__bar
          button.header__btn-location
            include img/icons/location.svg
            | Москва
          .header__search
            form.header__search-form
              input.header__search-input(type='text' placeholder='Поиск по сайту')
              button.header__btn-search(type='submit')
                include img/icons/search.svg
          a.header__auth-link(href='#')
            include img/icons/login.svg
          a.header__cart-link(href='#')
            include img/icons/cart.svg
    .header__bottom
      .header__bottom-wrap
        .header__logo
          a.header__logo-link(href='/index.html')
           include ./img/logo.svg

        .header__btn-hamburger
          .header__btn-hamburger-box
           .header__btn-hamburger-inner
        nav.header__category-nav
          ul.header__category-nav-list
            each link in links.category
              li.header__category-nav-list-item
                a.header__category-nav-link(href=`${link.href}`)= link.title
            li.header__category-nav-list-item
              a.header__category-nav-sale-link(href='#') % SALE
        
        a.header__phone-link(href='tel:88003330755') 8 800 333-07-55
       
