mixin footer

  -
    var links = {
      menu: [
        {
          href: '#',
          title: 'Контакты'
        },
        {
          href: '#',
          title: 'Возврат'
        },
        {
          href: '#',
          title: 'Оплата'
        },
        {
          href: '#',
          title: 'Доставка'
        },
        {
          href: '#',
          title: 'О компании'
        }
      ],
      contacts: [
        {
          href: 'tel:84992884012',
          phone: '8 499 288-40-12',
          label: 'Бесплатно по РФ'
        },
        {
          href: 'tel:84955454675',
          phone: '8 495 545-46-75',
          label: 'Офис в Москве'
        },
        {
          href: 'tel:88123631665',
          phone: '8 812 363-16-65',
          label: 'Офис в Санкт-Петербурге'
        }
      ]
    }

  footer.footer
    .footer__wrap
      .footer__top
        .footer__logo
          include ./img/logo.svg
        nav.footer__nav
          ul.footer__nav-list
            each link in links.menu 
              li.footer__nav-list-item
                a.footer__nav-link(href=`${link.href}`)= link.title
      ul.footer__contacts-list
        each link in links.contacts
          li.footer__contacts-list-item
            .footer__contacts-content
              a.footer__contacts-link(href=`${link.href}`)= link.phone
              p.footer__contacts-label= link.label
      
      .footer__bottom
        p.footer__copyright © 2009—2019 Центр экологии жилья Breeeth!
        a.footer__privacy-link(href='#') Политика конфиденциальности
        ul.footer__social-list
          li.footer__social-lits-item
            a.footer__social-link(href='#' target='_blank')
              include ./img/icons/insta.svg
          li.footer__social-lits-item
            a.footer__social-link(href='#' target='_blank')
              include ./img/icons/facebook.svg

