.footer {
  padding-top: 60px;
  background: url(~@/components/footer/img/footer-bg.png) center 0 no-repeat;
  background-size: cover;
}

.footer__wrap {
  @include container;
}

.footer__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;

  @include mq-less-lg {
    justify-content: center;
    margin-bottom: 30px;
  }
}

.footer__logo {
  @include mq-less-lg {
    margin-bottom: 20px;
  }
}

.footer__nav {
  @include mq-less-lg {
    flex-basis: 100%;
  }
}

.footer__nav-list {
  display: flex;
  flex-wrap: wrap;

  @include mq-less-lg {
    justify-content: center;
  }
}

.footer__nav-list-item {
  &:not(:last-child) {
    margin-right: 60px;

    @include mq-less-lg {
      margin-right: 30px;
    }

    @include mq-less-sm {
      margin-right: 15px;
    }
  }
}

.footer__nav-link {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;

  &:hover {
    color: #fff;
    border-bottom-color: #b2c2e4;
  }
}

.footer__contacts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 80px;
  border-bottom: 1px solid #aabbe1;

  @include mq-less-lg {
    padding-bottom: 40px;
  }
}

.footer__contacts-list-item {
  display: flex;
  flex-basis: 33.333333%;
  text-align: center;

  &:nth-child(2) {
    justify-content: center;
  }

  &:nth-child(3) {
    justify-content: flex-end;

    @include mq-less-lg {
      justify-content: center;
    }
  }

  @include mq-less-lg {
    flex-basis: 100%;
    justify-content: center;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.footer__contacts-content {
  display: inline-block;
}

.footer__contacts-link {
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  border-bottom: 2px solid transparent;

  &:hover {
    color: #fff;
    border-bottom-color: #b2c2e4;
  }
}

.footer__contacts-label {
  padding-top: 3px;
  color: #fff;
  font-weight: 500;
  font-size: 13px;
}

.footer__bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 50px;

  @include mq-less-lg {
    padding: 20px 0;
  }

  * {
    flex: 1;
    flex-basis: 33.333333%;
    @include mq-less-lg {
      flex-basis: 100%;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}

.footer__copyright {
  text-align: left;
}

.footer__privacy-link {
  text-align: center;

  &:hover {
    color: #fff;
  }
}

.footer__social-list {
  text-align: right;
}

.footer__copyright,
.footer__social-list {
  @include mq-less-lg {
    text-align: center;
  }
}

.footer__copyright,
.footer__privacy-link {
  color: #fff;
  font-weight: 400;
  font-size: 13px;
}

.footer__social-lits-item {
  display: inline-block;
  &:not(:last-child) {
    margin-right: 20px;
  }
}
