mixin breadcrumbs(mixes)

  -
    var items = [
      {
        label: 'Главная',
        href: '#'
      },
      {
        label: 'Продукция',
        href: '#'
      }
    ]
  div(class=`breadcrumbs` + ((mixes) ? ` ${mixes}__breadcrumbs` : ''))
    ul.breadcrumbs__list
      each item in items
        li.breadcrumbs__list-item
          a.breadcrumbs__link(href=`${item.link}`)= item.label
          img(src=require('../../components/breadcrumbs/img/arrow.svg'))
      li Очистители воздуха для дома
