.breadcrumbs {
  font-size: 13px;
  line-height: 1.23;
}

.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;

  img {
    margin: 0 8px;
  }
}

.breadcrumbs__link {
  color: #7d828f;

  &:hover {
    color: #f47a20;
    & + svg path {
      stroke: #a3b3dd;
    }
  }
}
